@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url('BerkshireSwash-Regular.woff') format('woff');
}