
.cli
	width 100%
	height 100%
	padding 4px 6px
	
	background-image radial-gradient( ellipse, hsl(225, 58%, 12%), hsl(225, 58%, 8%) )
	//background-color hsl(225, 58%, 12%)
	
	overflow auto
	
	color #CC6600 //amber 80
	//color #ff8100 //amber 100
	//color #44cc00 //green 80
	//color #56ff00 //green 100
	
	font-size 12px
	font-family 'Droid Sans Mono'
	line-height 1.1
	
	-moz-box-sizing border-box
	box-sizing border-box
